<head>
  <style>
  </style>
</head>
<body>
  <article class ="row">
    <article id = "Inbox" class = "large-6 columns">
      <% for message in @messages %>
        <article class="message">
          <p>
            <%= message.topic %> <br>   
            <%= message.body %> <br>
          </p>
        </article>
      <% end %>
    </article>
    <article id = "Message" class = "large-6 columns">
    <%= form_for Message.new, :remote=>true do |m| %>
      <%= m.text_field :received_messageable_id, :placeholder => 'Insert user id to send message too - need to fix this so that usernames can be used' %>
      <%= m.text_field :topic, :placeholder => 'Subject' %>
      <%= m.text_area :body , :placeholder => 'Body' %>
      <%= m.hidden_field :sent_messageable_id, :value => current_user.id %>
      <%= m.submit %>
    <% end %>
    </article>
  </article>
</body>