<p>
  <strong>Bible verse start:</strong>
  <%= @comment.verse_start %>
</p>

<p>
  <strong>Bible verse end:</strong>
  <%= @comment.verse_end %>
</p>

<p>
  <strong>Description:</strong>
  <%= @comment.description %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
