<p>Username: <%=h @user.user_name %></p>

<h2>Friends</h2>
<ul>
  <% for relationship in @user.relationships %>
    <li><%=h relationship.friend.user_name %> (<%= link_to "remove", relationship, :method => :delete %>)</li>
  <% end %>
</ul>

<h2>Friended by Users</h2>
<ul>
  <% for relationship in @user.inverse_relationships %>
    <li><%=h relationship.user.user_name %> (<%= link_to "remove", relationship, :method => :delete %>)</li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_relationship_path(@relationship) %> |
<%= link_to 'Back', relationships_path %>
