<head>
	<script id="contentStreamTemplate" type="text/template">
	  <div class="stream">
	    {{#comments}}
	    <div class="comment">
	       <span>{{full_name}}</span> </br>
	       <span class='created_at'>{{created_at}}</span>
	       <div class='comment_chapter_verse'>{{book_start}} {{chapters}}:{{verse_start}}-{{verse_end}}</div>
	       <div class='comment_verses'>{{verses}}</div> </br>
	       <div class='comment_body'>{{description}}</div>
	     </div>
	    {{/comments}}
	  </div>
	</script>  
</head>
<body>
<section>
<article class ="row">
	<article id = "Bible" class = "large-8 columns">
	  <%= form_for @users_bible_view, url: bible_views_path, json: { method: :post }, :remote=>true do |v| %>
	    <%= v.collection_select(:bible_version, BibleVersion.all, :file_name, :name, {:selected => @users_bible_view.bible_version}) %>
	    <%= v.collection_select(:book, BibleBooks.all, :book, :book, {:selected => @users_bible_view.book}) %>
	    <%= v.select(:chapter, grouped_options_for_select(BibleChapters.for_select, :selected => @users_bible_view.chapter)) %> 
	    <%= v.submit 'gdfs'%>
	  <% end %>
	  <div id = "BibleOutput"><%= @output %></div>
	</article>
	<article id = "Comment" class = "large-4 columns">
	  <%= form_for @bible_comment, :remote=>true do |c| %>
		<div id = "comment_options" class = "hidden_comment_options">
		  <%= c.label 'Book:' %>
		  <%= c.collection_select(:book_start, BibleBooks.all, :book, :book) %>	    
	      <%= c.label 'Chapter:' %>
	      <%= c.select(:chapter_start, grouped_options_for_select(BibleChapters.for_select)) %>
	    </div>
	    <div class = "verse_selector">
	      <%= c.label 'Verse from:' %>
		  <%= c.collection_select(:verse_start, BibleVerse.default_verses, :bible_verse, :bible_verse) %>
	    </div>
	    <div class = "verse_selector">
	      <%= c.label 'Verse to:' %>
		  <%= c.collection_select(:verse_end, BibleVerse.default_verses, :bible_verse, :bible_verse, { :selected => BibleVerse.default_verses.last[:bible_verse] }) %>
	    </div>
		<div id="expand_comment_options"><i class="fa fa-caret-square-o-up fa-3x"></i></div>
	    <span class="comment_description"><%= c.text_area :description %></span>
	    <%= c.hidden_field :user_id, :value => current_user.id %>
	    <%= c.submit "Comment", :class => 'button expand', :id => 'red_button' %>
	  <% end %>
	</article>
	<article id = "ContentStream" class = "large-4 columns">
	</article>
	<article id="spinner">
	  	<div class="large progress"><div>Loading…</div></div>
	</article>
</article>
</section>
</body>