<head>
  
</head>
<body>
<section>
<article class ="row">
	<article id = "Bible" class = "large-8 columns">
	  <%= form_for @users_bible_view, :remote=>true do |b| %>
	    <%= collection_select(:bible_view, :bible_version, BibleVersion.all, :file_name, :name) %>
	    <%= select(:bible_view, :book, ['Genesis','Exodus','Leviticus','Numbers','Deuteronomy','Joshua','Judges','Ruth','1 Samuel','2 Samuel','1 Kings','2 Kings','1 Chronicles','2 Chronicles','Ezra','Nehemiah','Esther','Job','Psalms','Proverbs','Ecclesiastes','Song of Solomon','Isaiah','Jeremiah','Lamentations','Ezekiel','Daniel','Hosea','Joel','Amos','Obadiah','Jonah','Micah','Nahum','Habakkuk','Zephaniah','Haggai','Zechariah','Malachi','Matthew','Mark','Luke','John','Acts','Romans','1 Corinthians','2 Corinthians','Galatians','Ephesians','Philippians','Colossians','1 Thessalonians','2 Thessalonians','1 Timothy','2 Timothy','Titus','Philemon','Hebrews','James','1 Peter','2 Peter','1 John','2 John','3 John','Jude','Revelation']) %>
	    <%= b.text_field :chapter, :placeholder => '1' %>
	    <%= b.submit %>
	  <% end %>
	  <div id = "BibleOutput"><%= @output %></div>
	</article>
	<article id = "Comment" class = "large-4 columns">
	  <%= form_for @bible_comment, :remote=>true do |c| %>
	    <%= c.text_field :book_start, :placeholder => 'book' %>
	    <%= c.text_field :chapter_start, :placeholder => 'chapter start' %>
	    <%= c.text_field :verse_start, :placeholder => 'verse start' %>
	    <%= c.text_field :chapter_end, :placeholder => 'chapter end' %>
	    <%= c.text_field :verse_end, :placeholder => 'verse end' %>
	    <%= c.text_area :description %>
	    <%= c.hidden_field :user_id, :value => current_user.id %>
	    <%= c.submit %>
	  <% end %>
	</article>
	<article id = "ContentStream">
	  <div><%=@content_stream.to_s %></div>
	</article>
</article>
</section>
</body>