<head>
	<script id="contentStreamTemplate" type="text/template">
	  <div class="stream">
	    {{#comments}}
	    <div class="comment">
	       <span>{{full_name}}</span> </br>
	       <span class='created_at'>{{created_at}}</span>
	       <div class='comment_chapter_verse'>{{book_start}} {{chapters}}:{{verse_start}}-{{verse_end}}</div>
	       <div class='comment_verses'>{{verses}}</div> </br>
	       <div class='comment_body'>{{description}}</div>
	     </div>
	    {{/comments}}
	  </div>
	</script>  
</head>
<body>
<section>
<article class ="row">
	<article id = "Bible" class = "large-8 columns">
	  <%= form_for @users_bible_view, :remote=>true do |v| %>
	    <%= v.collection_select(:bible_version, BibleVersion.all, :file_name, :name) %>
	    <%= v.collection_select(:book, BibleBooks.all, :book, :book) %>
	    <%= v.select(:chapter, grouped_options_for_select(BibleChapters.for_select)) %>
	    <%= v.submit "Go" %>
	  <% end %>
	  <div id = "BibleOutput"><%= @output %></div>
	</article>
	<article id = "Comment" class = "large-4 columns">
	  <%= form_for @bible_comment, :remote=>true do |c| %>
		<%= c.collection_select(:book_start, BibleBooks.all, :book, :book) %>	    
	    <%= c.select(:chapter_start, grouped_options_for_select(BibleChapters.for_select)) %>
	    <%= c.label 'Verse start:' %>
		<%= c.collection_select(:verse_start, BibleVerse.default_verses, :bible_verse, :bible_verse) %>
	    <%= c.label 'Verse end:' %>
		<%= c.collection_select(:verse_end, BibleVerse.default_verses, :bible_verse, :bible_verse, { :selected => BibleVerse.default_verses.last[:bible_verse] }) %>
	    <span class="comment_description"><%= c.text_area :description %></span>
	    <%= c.hidden_field :user_id, :value => current_user.id %>
	    <%= c.submit "Comment" %>
	  <% end %>
	</article>
	<article id = "ContentStream" class = "large-4 columns">
	</article>
	<article id='spinner'>
	  <div id="floatingCirclesG">
	  <div class="f_circleG" id="frotateG_01">
	  </div>
	  <div class="f_circleG" id="frotateG_02">
	  </div>
	  <div class="f_circleG" id="frotateG_03">
	  </div>
	  <div class="f_circleG" id="frotateG_04">
	  </div>
	  <div class="f_circleG" id="frotateG_05">
	  </div>
	  <div class="f_circleG" id="frotateG_06">
	  </div>
	  <div class="f_circleG" id="frotateG_07">
	  </div>
	  <div class="f_circleG" id="frotateG_08">
	  </div>
	  </div>
	</article>
</article>
</section>
</body>