<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
  	<meta charset="utf-8" />

  	<!-- Set the viewport width to device width for mobile -->
  	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

  	<title><%= content_for?(:title) ? yield(:title) : "SocialScriptura" %></title>
    <%= javascript_include_tag "application", params[:controller], "data-turbolinks-track" => true, :cache => true %>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true, :cache => true %>
  	<%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="sticky">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "Social Scriptura", root_path %></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
        </ul>
        <section class="top-bar-section">
          <ul class="left">
            <li class="divider"></li>
            <li class="has-form">
              <%= form_tag('/search', :method => 'get') do %>
                <div class="row collapse">
                  <div class="small-10 columns">
                    <%= text_field_tag "term", nil, class:"search", id: "search", placeholder: "Find Users" %>
                  </div>
                  <div class="small-2 columns">
                    <%= submit_tag "Search", id: "search_button", class: "button" %>
                  </div>
                </div>
              <% end %>
            </li>
          </ul>
          <ul class="right">
            <li class="divider"></li>
            <li><%= link_to "Community", relationships_path, :id => 'community' %></li>
            <li class="divider"></li>
            <li><%= link_to "Read & Comment", bible_path, :id => 'read_and_comment' %></li>
            <li class="divider"></li>
            <!-- <li><a href="/messages">Message</a></li> 
            <li class="divider"></li> -->
            <% if user_signed_in? %>
              <li><%= link_to current_user.user_name, edit_user_registration_path, :id => 'current_user' %></li>
              <li class="divider"></li>                          
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete, :id => 'logout' %></li>
            <% else %>            
              <li><%= link_to "Sign Up", new_user_registration_path, :id => 'sign_up' %></li>
              <li class="divider"></li>  
              <li><%= link_to "Login", new_user_session_path, :id => 'login' %></li>
            <% end %>
          </ul>
        </section>
      </nav>
    </nav>
    <div class="row">
      <section id="body" class="larger-12 columns"><%= yield %></section>
    </div>
  </body>
</html>
