<!DOCTYPE html>
<html>
<head>
  <title>SocialScriptura</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--part of devise setup-->
  <!-- <p class="notice"><%= notice %></p> -->
  <p class="alert"><%= alert %></p>

<style type="text/css"> 
body                                                                   /* site bg color    */
     {
     margin: 0; 
     /*background-color:#b0c4de*/
     }
 #navbar {
    display: table;
    width: 100%;
    position: absolute;
    top: 40px;
 }

 #navbar ul { 
    margin: 0; 
    padding: 5px; 
    cellspacing: 0;
    cellpadding: 0;
    border: 0;
    list-style-type: none; 
    background-color: #cc0000; 
  } 

#navbar ul li {  
    display: table-cell; /* inline; */
    width: 20%;
    text-align: center;
    } 

#navbar ul li a { 
    text-decoration: none;
    padding: .2em 5em; 
    color: white; 
    background-color: #cc0000; 
    } 

#navbar ul li a:hover { 
    color: #0EC6D7; 
    background-color: #8B008B; 
    } 

#user_nav {
  position:absolute;
  right:5px;
}

#body {
  position:fixed;
  top: 65px; 
}
</style> 
</head>
<body> 
  <div id="container">
    <div id="user_nav">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </div>

    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <div id="navbar"> 
       <ul>  
         <li><a href="/bible#index">Notes</a></li> 
         <li><a href="/search#index">Search</a></li> 
         <li><a href="#">Community</a></li> 
         <li><a href="#">Message</a></li>
         <li><a href="/users/edit">Profile</a></li> 
      </ul>
    </div>

  <section id = "body">
    <%= yield %>
  </section>

</body>
</html>
